body, body * {
    box-sizing: border-box;
    margin: 0;
}

.inactive {
    color: #ccc;
}

.item {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    transition: all 0.25s;
}

.item.inactive:hover {
    color: #222;
}

.item.inactive {
    text-decoration: none;
}

.menu {
    width: 280px;
    height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.content iframe {
    border: 0;
    width: calc(100vw - 280px);
    height: 100vh;
    overflow: hidden;
}

.menu {
    font-family: monospace;
}

h1 {
    margin: 20px;
}

.description {
    margin: 20px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.project-description {
    font-size: 88%;
}

.inactive .project-description {
    display: none;
}

.active .project-description{
    line-height: 1.5;
    max-height: 100px;
    text-decoration: none;
    color: #555;
}
